@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.header {
  background: linear-gradient(45deg, #ff0084, #33001b);
  color: #e7dfdd;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
  width: 100vw;
  font-style: italic;
}

.header h1 {
  font-weight: 700;
  margin-left: 50px;
}

.user-info {
  font-weight: 700;
  font-size: 1.2rem;
  display: flex;
  justify-content: flex-end;
}

.user-info-container {
  margin: 0 15px;
}

.user-info-container span {
  margin: 0 5px;
}

.form-container {
  background: linear-gradient(45deg, #ff0084, #33001b);
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: white;
  display: flex;
  flex-direction: column;
  min-width: 40vw;
  min-height: 60vh;
  padding: 2rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.form h2 {
  position: relative;
  font-weight: 700;
  font-style: italic;
  font-size: 2.5rem;
}

.form hr {
  border: 3px #33001b solid;
  border-radius: 10px;
  margin: 0 0 10px;
}

.input-field {
  font-size: 1rem;
  outline: none;
  margin: 15px 0;
  padding: 15px 10px;
  border: 1px solid #ff0084;
  border-radius: 8px;
}

.button-login {
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
  padding: 15px 10px;
  border-radius: 8px;
  background-color: #33001b;
  color: #ff0084;
}

.button-login:hover {
  color: white;
}

.button-login:disabled {
  cursor: auto;
  background-color: #ddd;
}

.form-wallet {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 100vw;
  min-height: 10vh;
  color: white;
  border-bottom: 1px solid #ff0084;
  background-color: #0e0b16;
}

.form-wallet-label {
  font-size: 0.9rem;
  font-weight: 500;
  color: #e7dfdd;
}

.form-wallet-input-field {
  background: white;
  font-size: 0.9rem;
  outline: none;
  margin: 10px 10px;
  padding: 5px;
  border: 1px solid #ff0084;
  font-weight: 500;
}

.form-wallet-button-add-expense {
  cursor: pointer;
  font-weight: 700;
  font-size: 0.9rem;
  padding: 10px;
  background-color: #ff0084;
  color: #33001b;
}

.form-wallet-button-add-expense:hover {
  color: white;
}

.form-wallet-button-edit-expense {
  cursor: pointer;
  font-weight: 700;
  font-size: 0.9rem;
  padding: 10px;
  background-color: #33001b;
  color: #ff0084;
}

.form-wallet-button-edit-expense:hover {
  color: white;
}

.button-login:disabled {
  cursor: auto;
  background-color: #ddd;
}

.table {
  width: 100vw;
  border-collapse: collapse;
}

.thead {
  font-weight: 900;
  font-size: 1.2rem;
  text-align: center;
  color: #ff0084;
  background-color: #0e0b16;
}

.thead th {
  padding: 15px;
}

.tbody {
  font-weight: 400;
  text-align: center;
  color: #e7dfdd;
  background-color: #4717f6;
  height: 100%;
}

.tbody td {
  padding: 15px;
}

.tbody button {
  background-color: #4717f6;
}

.tbody button img {
  cursor: pointer;
  width: 48px;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
}
